 * {
 	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: ;
 }

body {
	background: #644c7c;
}

#titulo {
	text-align: center;
	font-size: 20px;
	margin: 15px 25px 15px 25px;
	background: #c8bfd8;
}

#formulario {
	margin: 25px;
	text-align: center;
	background: #c8bfd8;
	padding-bottom: 15px;
}
button {
	margin-top: 05px 05px 5px 5px;
	background: #a494b4;
	height: 30px;
	width: 90px;
	border-radius: 20px;
}
input {
	margin: 10px;
}